.background {
  background-color: #f6f5f4;
  padding-top: 153px;
  padding-bottom: 153px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.info h1 {
  font: 800 56px Montserrat;
  letter-spacing: -0.04em;
  color: #000000;
}

.info input {
  width: 519px;
  height: 60px;
  padding: 14.5px 20px;
  border-radius: 2px;
  border: 1px solid #ced4da;
  font: 400 20px Montserrat;
  color: #adb5bd;
}

.info button {
  width: 110px;
  height: 44px;
  padding: 14px 22px;
  border-radius: 100px;
  font: 700 16px Montserrat;
  letter-spacing: -0.04em;
  border-width: 0;
  color: #ffffff;
  background: #2b788b;
}

.content .image {
//   background-image: url("./assets/image\ 33.svg");
  width: 481px;
  height: 320px;
  background-size: contain;
  background-repeat: no-repeat;
}
