.text {
  color: rgb(28, 221, 221);
}

.header {
  background: rgb(246, 245, 244);
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0 0;
  
}

.logo {
  font: 800 20px Montserrat;
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.login {
  font: 700 16.66px Montserrat;
}

.signup {
  font: 700 16.66px Montserrat;
  color: #fff;
  padding: 21.28px;
  background: rgba(43, 120, 139, 1);
  border-radius: 14.19px;
}

.main {
  background: rgb(246, 245, 244);
  padding: 95px 0 0 0;
  display: flex;
  justify-content: space-between;
  .content {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      font: 700 16px Montserrat;
      color: rgba(43, 120, 139, 1);
    }
    h1 {
      font: 700 56px Montserrat;
      padding: 24px 0 30px 0;
    }
    .about {
      font: 600 18px Montserrat;
      color: rgba(117, 117, 117, 1);
    }
    .button {
      font: 700 16px Montserrat;
      padding: 14px 22px 14px 22px;
      border-radius: 100px;
      background: rgba(195, 220, 227, 1);
      margin: 32px 0 48px 0;
    }
  }
  .picture {
    background: url("./assets/man.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 507px;
    width: 657px;
  }
}

.learn {
  padding: 77px 0 0 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .picture {
      background: url("./assets/girlM.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 580px;
      height: 445px;
    }
    .info {
      width: 480px;
      h1 {
        color: rgb(0, 0, 0);
        font: 700 48px Montserrat;
      }
      p {
        color: rgb(117, 117, 117);
        font: 600 18px Montserrat;
        padding: 30px 0;
      }
      .wrapPic {
        display: flex;
        gap: 21px;
        .firstPic {
          background: url("./assets/Sprint.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 131px;
          height: 145px;
        }
        .secondPic {
          background: url("./assets//Tasks.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 172px;
          height: 145px;
        }
      }
    }
  }
}

.textBook {
  background: rgb(246, 245, 244);
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .about {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      h1 {
        color: rgb(0, 0, 0);
        font: 700 48px Montserrat;
      }
      p {
        color: rgb(117, 117, 117);
        font: 600 18px Montserrat;
        padding: 34px 0;
      }
      .button {
        padding: 14px 22px 14px 22px;
        background: rgb(195, 220, 227);
        border-radius: 100px;
        font: 700 16px Montserrat;
        padding: 14px 22px 14px 22px;
        border-radius: 100px;
      }
    }
    .picture {
      background: url("./assets/girlWithBook.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 424.95px;
      height: 473.97px;
    }
  }
}

.progress {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .picture {
      background: url("./assets/kids.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 680px;
      height: 409.25px;
    }
    .about {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      h1 {
        color: rgb(0, 0, 0);
        font: 700 48px Montserrat;
      }
      p {
        color: rgb(117, 117, 117);
        font: 600 18px Montserrat;
        padding: 34px 0;
      }
      .button {
        padding: 14px 22px 14px 22px;
        background: rgb(195, 220, 227);
        border-radius: 100px;
        font: 700 16px Montserrat;
        padding: 14px 22px 14px 22px;
        border-radius: 100px;
      }
    }
  }
}

footer {
  margin: 95px 0 0 0;
  padding: 40px 0;
  background: rgb(246, 245, 244);
  .footerTop {
    display: flex;
    justify-content: space-between;
    .leftside {
      display: flex;
      gap: 30px;
    }
    .rightside {
      display: flex;
      gap: 30px;
    }
  }
  .footerDown {
    margin: 43px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icons {
      display: flex;
      gap: 33px;
      .iconGit {
        background: url("./assets//git.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 30px;
        height: 24px;
      }
      .iconGT {
        background: url("./assets//GT.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 30px;
        height: 24px;
      }
      .iconYT {
        background: url("./assets//YT.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 30px;
        height: 24px;
      }
    }
    .sert {
      color: rgb(117, 117, 117);
      font: 600 12px Montserrat;
    }
  }
}
